@import url('./var.css');

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 15px
    
}

.justifyContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.switch{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}